<div id="<%= dom_id station %>">
  <p>
    <strong>Name:</strong>
    <%= station.name %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= station.resume %>
  </p>

  <p>
    <strong>Procedure:</strong>
    <%= station.procedure %>
  </p>

  <p>
    <strong>Evaluation:</strong>
    <%= station.evaluation %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= station.score %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= station.minutes %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= station.level %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= station.feedback %>
  </p>

</div>
