<h1>Editing station</h1>

<%= render "form", station: @station %>

<br>

<div>
  <%= link_to "Show this station", @station %> |
  <%= link_to "Back to stations", stations_path %>
</div>

<%= turbo_frame_tag "edit-station-title" do %>
  <%= render "stations/titles/form" %>
<% end %>

<div class="avss-section">
  <h1 class="avss-section__title"><%= @station.name %></h1>

  <div class="avss">
    <h1>Contextualização</h1>
    <p>Descreva um contexto para que o aluno se situe para realização da Estação. 
       Texto que será apresentado aos alunos no ato de selecionar a Estação!</p>
  </div>
</div>

<p>aa</p>

<div class="avss-big-card">
  <div>
    <span class="avss-big-card__icon">description</span>
  </div>
  <div>
    <h1 class="avss-big-card__title">Contextualização</h1>
    <p class="avss-big-card__body">Descreva um contexto para que o aluno se situe para realização da Estação<br>Texto que será apresentado aos alunos no ato de selecionar a Estação!</p>
  </div>
</div>

<div class="avss-big-card">
  <div>
    <span class="avss-big-card__icon">account_tree</span>
  </div>
  <div>
    <h1 class="avss-big-card__title">Procedimentos</h1>
    <p class="avss-big-card__body">Descreva um contexto para que o aluno se situe para realização da Estação<br>Texto que será apresentado aos alunos no ato de selecionar a Estação!</p>
  </div>
</div>

<div class="avss-big-card">
  <div>
    <span class="avss-big-card__icon">whatshot</span>
  </div>
  <div>
    <h1 class="avss-big-card__title">Avaliação</h1>
    <p class="avss-big-card__body">Descreva um contexto para que o aluno se situe para realização da Estação<br>Texto que será apresentado aos alunos no ato de selecionar a Estação!</p>
  </div>
</div>

<div class="avss-big-card">
  <div>
    <span class="avss-big-card__icon">attach_file</span>
  </div>
  <div>
    <h1 class="avss-big-card__title">Anexos</h1>
    <p class="avss-big-card__body">Descreva um contexto para que o aluno se situe para realização da Estação<br>Texto que será apresentado aos alunos no ato de selecionar a Estação!</p>
  </div>
</div>

<div class="avss-small-card">
  <div>
    <span class="avss-small-card__icon">timer</span>
  </div>
  <div>
    <h1 class="avss-small-card__title">Tempo (minutos)</h1>
    <div class="avss-small-card__timerbody">
      <span class="avss-small-card__timerbody__before">navigate_before</span>
      <input type="text" class="fb" value="5">
      <span class="avss-small-card__timerbody__after">navigate_next</span>
    </div>
  </div>
</div>
