<%= form_with(model: @station, url: station_title_path(@station)) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'avss-field' %>
  </div>
  mudou <%= @station.name %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
